<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                {% for item in site.data.nav.main %}
                    {% if page.title == item.text %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    {% if item.url contains "http" %}
                        <a href="{{ item.url }}" target="_blank">{{ item.text }}</a>
                    {% else %}
                        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
